body {
    background-image: url('holly.png');
    background-repeat: repeat;   /* repeats in all directions */
    color: #00aaff;
    font-family: "Comic Sans MS", "Courier New", cursive;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 30px auto;
    border: 4px double #ff00ff;
    box-shadow: 5px 5px #00ffff;
    padding: 20px;
}

a {
    color: #ff0000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

marquee {
    background-color: #00ffff;
    color: #ff00ff;
    font-weight: bold;
    margin: 10px 0;
    padding: 5px;
}



.blog-dates
{
    margin-top: 20px;
}
/* === NAVBAR === */
.navbar {
    background-color: #0000ff;
    border: 3px outset #ff00ff;
    padding: 12px;
    height: 25px;

    
}

.nav-button {
    background-color: #ffff00;
    color: #000;
    border: 2px inset #000;
    padding: 5px 10px;
    margin: 0 5px;
    text-decoration: none;
    font-weight: bold;
    font-family: "Comic Sans MS", sans-serif;
    box-shadow: 2px 2px #00ffff;
}

.nav-button:hover {
    background-color: #ff00ff;
    color: #fff;
    border: 2px outset #000;
    cursor: grab;
}
.nav-button:active
{
    background-color: #ff00ff;
    color: #fff;
    border: 2px outset #000;
    cursor: grabbing;
}
/* POEMS */
.poem-list
{   
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;


}

.poem-list a
{
    
    color: #ff00ff;
    padding: 10px;

}
.poem
{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

}

.poem-title
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bolder;
    
}

/* INDEX.HTML */
.song-title
{
    color: #ff00ff;
    font-family: 'Foremost', sans-serif;
    font-size: 40px;
    margin-bottom: 5px;




}

.SOTD
{
    font-family: 'Brush Script MT';
    font-size: 50px;
    padding: 10px;
}

.songwriter
{
    font-family: 'Foremost', sans-serif;
    padding: 5px;
}

@font-face
{
    font-family: 'Foremost';
    src:  url('../ForemostRegular.ttf');
}